
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Automobility</title>
    @Scripts.Render("~/bundles/modernizr")
    <!-- material -->

    <link href="~/Content/bootstrap1.css" rel="stylesheet" />
    <link href="~/Content/bootstrap1.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap1.css.map" rel="stylesheet"/>
    <link href="~/Content/bootstrap1.min.css.map" rel="stylesheet" />
    <link href="~/bower_components/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet"/>
    <link href="~/Content/theme.min.css" rel="stylesheet" />

    <link href="/bower_components/angular-material/angular-material.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <script src="~/Scripts/Vendor/theme.min.js"></script>
</head>
<body ng-app="HondaHack">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Site/app.js"></script>
    <script src="~/Scripts/Controller/ItineraryController.js"></script>
    <script src="~/Scripts/mainService.js"></script>
    <script src="~/Scripts/Controller/home.controller.js"></script>
    <!-- material -->
    <script src="~/bower_components/angular-animate/angular-animate.js"></script>
    <script src="~/bower_components/angular-aria/angular-aria.js"></script>
    <script src="~/bower_components/angular-messages/angular-messages.js"></script>
    <script src="~/bower_components/angular-material/angular-material.js"></script>
    <script src="~/bower_components/toastr/toastr.min.js"></script>
    <script src="~/Scripts/sweetalert.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVcsD-OnS6IWkRn0ZxsEANwxeu8GJvmMI&callback=initMap"></script>
    @RenderSection("scripts", required: false)
</body>
</html>