
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Automobility</title>
    @Scripts.Render("~/bundles/modernizr")
    <!-- material -->

    <link href="~/Content/bootstrap1.css" rel="stylesheet" />
    <link href="~/Content/bootstrap1.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap1.css.map" rel="stylesheet"/>
    <link href="~/Content/bootstrap1.min.css.map" rel="stylesheet" />
    <link href="~/bower_components/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet"/>
    <link href="~/Content/theme.min.css" rel="stylesheet" />

    <link href="/bower_components/angular-material/angular-material.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <script src="~/Scripts/Vendor/theme.min.js"></script>
</head>
<body ng-app="HondaHack">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Site/app.js"></script>
    <script src="~/Scripts/Controller/ItineraryController.js"></script>
    <script src="~/Scripts/mainService.js"></script>
    <script src="~/Scripts/Controller/home.controller.js"></script>
    <!-- material -->
    <script src="~/bower_components/angular-animate/angular-animate.js"></script>
    <script src="~/bower_components/angular-aria/angular-aria.js"></script>
    <script src="~/bower_components/angular-messages/angular-messages.js"></script>
    <script src="~/bower_components/angular-material/angular-material.js"></script>
    <script src="~/bower_components/toastr/toastr.min.js"></script>
    @*<script type="text/javascript">
            function initMap() {
                var current = { lat: 34.04196, lng: -118.26960 }; //Lat : 34.04096 | Long : -118.26860
                var parking = { lat: 34.04096, lng: -118.26860 }; // 34.1017° N, 118.3337° W

                var map = new google.maps.Map(document.getElementById('map'), {
                    center: current,
                    zoom: 7
                });

                var directionsDisplay = new google.maps.DirectionsRenderer({
                    map: map
                });

                // Set destination, origin and travel mode.
                var request = {
                    destination: parking,
                    origin: current,
                    travelMode: 'WALKING'
                };

                // Pass the directions request to the directions service.
                var directionsService = new google.maps.DirectionsService();
                directionsService.route(request, function (response, status) {
                    if (status == 'OK') {
                        // Display the route on the map.
                        directionsDisplay.setDirections(response);
                    }
                }); 
            }
    </script>*@
    @*<script type="text/javascript">
            function initMap() {
                var current = { lat: 34.04096, lng: -118.26860 }; //Lat : 34.04096 | Long : -118.26860
                var walkOfFame = { lat: 34.1017, lng: -118.3337 }; // 34.1017° N, 118.3337° W

                var map = new google.maps.Map(document.getElementById('map'), {
                    center: current,
                    zoom: 7
                });

                var directionsDisplay = new google.maps.DirectionsRenderer({
                    map: map
                });

                // Set destination, origin and travel mode.
                var request = {
                    destination: walkOfFame,
                    origin: current,
                    travelMode: 'DRIVING'
                };

                // Pass the directions request to the directions service.
                var directionsService = new google.maps.DirectionsService();
                directionsService.route(request, function (response, status) {
                    if (status == 'OK') {
                        // Display the route on the map.
                        directionsDisplay.setDirections(response);
                    }
                });
            }
        </script>*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVcsD-OnS6IWkRn0ZxsEANwxeu8GJvmMI&callback=initMap"></script>

    @RenderSection("scripts", required: false)
</body>
</html>